input{
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
button{
    margin-top: auto;
}